/*--------------------------------------------------------------------------------------------*/
/*--------------------------------CSS STYLE BATMAN GAME------------------------------------*/
/*----------------------------------------§§--------------------------------------------------*/

                            /*design de la section header*/
#entete-page{
    background-image: url(../Assets/Illustrations/Batgame_1.png);
    height: 800px;
    background-position: top center;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover; /*adapte a n'importe quel type d'appareil*/
}
#entete-page header nav ul li{
    display: inline;
    justify-content:space-between;
    padding: 1vw;
}
#entete-page header nav ul li .home{
    text-decoration: none;
}

                                /*design de la section de la partie haut*/
#hero .container .text-top{
    margin-top: 5vw;
}

                                /*design de la partie principal*/
.game .container{
    margin-bottom: -4vw;
}
.game .container .content-game{
    margin-top: 15vw;
}
.game .container .content-game h2{
    text-align: center;
    margin-bottom: 2vw;
}
.game .container .content-game img{
    width: 90%;
    margin-left: 4vw;
}
.game .container .content-game button{
    text-align: center;
    margin-top: 2vw ;
    margin-left: 25vw;
    padding: 1em;
    border: none;
    background: linear-gradient(
        to right , rgba(169, 154, 138, 0.692) 5%, rgba(255, 173, 51, 0.76)
    );
    box-shadow: var(--dark-color) 3px 3px 40px;
    width: 30%;
    height: 90%;
    color: white;
    cursor: pointer;
}
.game .container .content-game button:hover{
    background: linear-gradient(
        to right , rgba(169, 154, 138, 1) 5%, rgba(255, 173, 51, 1)
    );
}


/**
 *  || GAME STYLE 
 */
 .game .content-game .questions {
    height: 32vw;
    padding: 5% 10% 0 10%;
    display: grid;
    grid-template-columns: 25% 75%;
}

#question {
    font-size: 1.5em;
}

.game .content-game .questions div[class='image'] {
    margin-left: -6vw;
}

.game .content-game .questions div[class='image'] img {
    width: 70%;
}

.game .content-game .questions div[class='choix'] ul{
    display: block;
    margin-top: 10%;
}

.game .content-game .questions div[class='choix'] ul li {
    background-color: gray;
    padding: 0.3em;
    margin-top: 1.125em;
    font-size: 1.5em;
    display: block;
    margin-top: 5%;
    cursor: pointer;
}

.game .content-game .questions div[class='choix'] ul li input {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1.125em;
}
#game{
    display:none;
}